src/test/resources/amazonfws-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    This file was automatically generated by the Mule Cloud Connector Development Kit

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:amazon-fws="http://www.mulesoft.org/schema/mule/amazonfws"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schema/mule/amazonfws http://www.mulesoft.org/schema/mule/amazonfws/1.0-SNAPSHOT/mule-amazonfws.xsd">

        <context:property-placeholder location="mule.properties"/>

        <amazon-fws:config aws_access_key_id="${properties.aws_access_key_id}" aws_secret_access_key="${properties.aws_secret_access_key}"/>

        <!--
           Declare one flow like this one per element you add in your schema.

           See the comment in AmazonFwsNamespaceHandlerTestCase for an example how to send
           Mule events directly to this flow.

       <flow name="theFlow">
           <amazonfws:operation parameter="#[payload]"/>
       </flow>
        -->

        <flow name="testGetServiceStatus">
            <amazon-fws:inbound-get-service-status/>
        </flow>

        <flow name="testDeleteInboundShipmentItems">
             <amazon-fws:inbound-delete-shipment-items shipmentId="#[map-payload:shipmentId]" merchantSKU="#[map-payload:merchantSKU]"/>
        </flow>

</mule>
